section {
    flex: 1 0 auto;
    position: relative;
    width: 100%;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.intro_sec {
    height: calc(100vh - 60px);
    min-height: 700px;
    height: 100vh;
    margin-top: -60px;
}

.intro_sec .intro {
    max-width: 500px;
    margin: 0 auto;
}

.intro_sec .h_bg-image {
    width: 50%;
    height: 100%;
    background-size: cover;
    /* background-position: center; */
    min-height: 750px;
    scale: 80%;
    position: relative;
    background-position-x:left;
    background-position-y:bottom;
    filter: grayscale();
}
